
:root {
    --Page-Width: 80%;
    --Page-Width-Mobile: 100%;
    --Navigate-Height: 80px;
    --Navigate-Height-Mobile: 70px;
    --Banner-Height: 60px;
    --Image-Width: 200px;
    --Image-Height: 100%;
    --Image-Height-Mobile: 250px;
    --Avatar-Height: 80px;
    --Avatar-Width: 80px;
    --Radius: 2px 12px 2px 12px;
    --Radius-Small: 2px 6px 2px 6px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --Text-Primary: 22, 100%, 90%;
        --Text-Secondary: 22, 40%, 70%;
        --Background-Primary: 344, 16%, 12%;
        --Border-Color: 344, 10%, 25%;
        --Accent: 22, 100%, 56%;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --Text-Primary: 344, 16%, 12%;
        --Text-Secondary: 344, 12%, 40%;
        --Background-Primary: 22, 50%, 90%;
        --Border-Color: 22, 28%, 65%;
        --Accent: 22, 74%, 50%;
    }
}

/* Body */

Body {
    margin: 0;
    padding: 0;
    background-color: hsl(var(--Background-Primary));
    text-rendering: optimizeLegibility;
    font-family: 'Inclusive Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: hsl(var(--Text-Primary));
}

::Selection {
    background-color: hsl(var(--Text-Primary));
    color: hsl(var(--Background-Primary));
}

/* Wrap */

.Wrap {
    box-sizing: border-box;
    width: var(--Page-Width);
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    padding-top: calc(var(--Navigate-Height) + 24px);
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: var(--Image-Width) 1fr;
    gap: 24px;
}

.Wrap.Credit {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .Wrap {
        width: calc(var(--Page-Width-Mobile) - 24px);
        display: flex;
        flex-direction: column;
        padding-top: calc(var(--Navigate-Height-Mobile) + 10px);
        padding-left: 0;
        padding-right: 0;
        margin-bottom: calc(var(--Navigate-Height) + 24px);
    }
}

@media (max-width: 810px) {
    .Wrap {
        padding-top: 0;
    }
}

@media (max-width: 1200px) {
    .Wrap.Credit {
        padding-top: calc(var(--Navigate-Height) + 24px);
    }
}

@media (max-width: 810px) {
    .Wrap.Credit {
        padding-top: 24px;
    }
}

/* Navigate */

.Navigate {
    background-color: hsl(var(--Background-Primary));
    height: var(--Navigate-Height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.Navigate-Wrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.Navigate-Split {
    border-right: 1px solid hsl(var(--Border-Color)) !important;
    border-width: 0;
    height: calc(100% - 24px);
    width: 0;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: auto;
    margin-bottom: auto;
}

.Navigate-Text {
    color: hsl(var(--Text-Primary));
    height: calc(100% - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0 24px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

@media (max-width: 810px) {
    .Navigate {
        background-color: hsl(var(--Background-Primary));
        bottom: 0;
        width: calc(var(--Page-Width-Mobile));
        height: calc(var(--Navigate-Height-Mobile) + env(safe-area-inset-bottom));
    }

    .Navigate-Wrap {
        width: var(--Page-Width-Mobile);
    }

    .Navigate-Text {
        width: 100%;
        padding: 0;
    }
}

/* Header */

@media (max-width: 1200px) {
    .Header {
        margin-top: -12px;
    }
}

@media (max-width: 810px) {
    .Header.Credit {
        margin-top: 0;
    }
}

/* Image */

.Image {
    width: 100%;
    height: var(--Image-Height);
    overflow: hidden;
    border-radius: var(--Radius);
    background: url('bee_animated.gif');
    background-position: center;
    background-size: cover;
    image-rendering: smooth;
}

.Credit .Image {
    height: var(--Avatar-Height);
    background: hsl(var(--Border-Color));
}

/* Text */

.Credit-Vector {
    width: 32px;
    height: 32px;
    fill:hsl(var(--Text-Primary));
}

.Title {
    font-family: 'Alegreya SC';
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}


.Subtitle {
    color: hsl(var(--Text-Secondary));
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 12px;
    display: inline-block;
}

.Text {
    margin-top: 0;
    margin-bottom: 12px;
    text-wrap: balance;
}

hr {
    border-width: 0;
    background-color: hsl(var(--Border-Color));
    width: 100%;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.Section {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 12px;
}

.Att-Link {
    color: hsl(var(--Text-Primary));
    width: 100%;
    display: block;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    font-size: 32px;
}

@media (max-width: 1200px) {
    .Image {
        border-radius: 0;
        height: var(--Image-Height-Mobile);
        margin-left: -12px;
        margin-right: -12px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .Credit .Image {
        height: var(--Avatar-Height);
        margin: 0;
        padding: 0;
    }
}

/* Footer */

.Footer {
    width: 100%;
    gap: 12px;
    display: flex;
}

.Footer-Link {
    border: 1px solid hsla(var(--Text-Primary), 0.5);
    box-sizing: border-box;
    width: 196px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(var(--Text-Primary));
    border-radius: var(--Radius);
    background-color: hsla(var(--Background-Primary));
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.Footer-Link:hover,
.Footer-Link:active {
    border-color: hsla(var(--Text-Primary));
    background-color: hsla(var(--Text-Primary), 0.2);
}