
:root {
    --Page-Width: 600px;
    --Page-Width-Mobile: 100%;
    --Navigate-Height: 80px;
    --Image-Height: 80px;
    --Image-Width: 80px;
    --Image-URL: url('photo.PNG');
    --Radius-SM: 3px;
    --Radius-MD: 6px;
    --Radius-LG: 12px;
    --Radius-XL: 900px;
    --Variable-6: 6px;
    --Variable-12: 12px;
    --Variable-24: 24px;
}

@media (prefers-color-scheme: Dark) {
    :root {
        --Text-Primary: HSL(22, 100%, 90%);
        --Text-Secondary: HSL(22, 20%, 60%);
        --Link-Primary: HSL(220, 100%, 50%);
        --Link-Secondary: HSL(220, 100%, 50%, 0.5);
        --Background-Primary: HSL(22, 10%, 10%);
        --Button-Primary: HSL(22, 10%, 10%);
        --Button-Secondary: HSL(22, 10%, 10%);
        --Border-Color: HSL(22, 10%, 30%);
    }
}

@media (prefers-color-scheme: Light) {
    :root {
        --Text-Primary: HSL(0, 0%, 10%);
        --Text-Secondary: HSL(0, 0%, 60%);
        --Link-Primary: HSL(220, 100%, 50%);
        --Link-Secondary: HSL(220, 100%, 50%, 0.5);
        --Background-Primary: HSL(0, 0%, 100%);
        --Button-Primary: HSL(0, 0%, 90%);
        --Button-Secondary: HSL(0, 0%, 80%);
        --Border-Color: HSL(0, 0%, 90%);
    }
}

/* Body */

Body {
    margin: 0;
    padding: 0;
    background-color: var(--Background-Primary);
    text-rendering: optimizeLegibility;
    font-family: 'Inclusive Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--Text-Primary);
}

/* Navigate */

.Navigate {
    background-color: var(--Background-Primary);
    height: var(--Navigate-Height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.Navigate-Wrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.Navigate-Text {
    color: var(--Text-Primary);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-decoration-color: var(--Text-Secondary);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.Navigate-Text.Selected {
    font-weight: 600;
}

/* Wrap */

.Wrap {
    max-width: var(--Page-Width);
    margin: auto;
    padding-top: calc(var(--Navigate-Height) + 24px);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: calc(var(--Navigate-Height) + 24px);
}

@media (max-width: 768px) {
    .Wrap {
        max-width: var(--Page-Width-Mobile);
    }
}

/* Text */

.Title {
    margin-top: unset !important;
    margin-bottom: unset !important;
}

.Text {
    font-size: 20px;
    font-weight: 400;
    color: var(--Text-Primary);
}

.Paragraph {
    margin-top: unset !important;
    margin-bottom: 12px;
}
.Paragraph:last-of-type {
    margin-bottom: unset !important;
}

/* Link */

.Link {
    color: var(--Text-Primary);
    text-decoration-color: var(--Text-Secondary);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

/* Fixin */

.Bold {
    font-weight: 600 !important;
}

.Subtle {
    color: var(--Text-Secondary) !important;
}

/* Images */

.Image {
    height: var(--Image-Height);
    width: var(--Image-Width);
    background-size: cover !important;
    background-image: var(--Image-URL);
}

/* Radius */

/* Margins */

.B-Margin6 {
    margin-bottom: var(--Variable-6);
}

.T-Margin6 {
    margin-top:  var(--Variable-6);
}

.B-Margin12 {
    margin-bottom: var(--Variable-12);
}

.T-Margin12 {
    margin-top:  var(--Variable-12);
}

.B-Margin24 {
    margin-bottom:  var(--Variable-24);
}

.T-Margin24 {
    margin-top:  var(--Variable-24);
}

/* Padding */

.B-Padding12 {
    padding-bottom:  var(--Variable-12);
}

.T-Padding12 {
    padding-top: var(--Variable-12);
}

.L-Padding12 {
    padding-left:  var(--Variable-12);
}

.R-Padding12 {
    padding-right: var(--Variable-12);
}

.B-Padding24 {
    padding-bottom:  var(--Variable-24);
}

.T-Padding24 {
    padding-top: var(--Variable-24);
}

.L-Padding24 {
    padding-left:  var(--Variable-24);
}

.R-Padding24 {
    padding-right: var(--Variable-24);
}

/* Display */

.Block {
    display: block;
}

.I-Flex {
    display: inline-flex;
}

.Column-Flex {
    flex-direction: column;
}

/* Button */

.N-Button {
    padding-left: var(--Variable-24);
    padding-right: var(--Variable-24);
    padding-top: var(--Variable-12);
    padding-bottom: var(--Variable-12);
    background: var(--Button-Primary);
}